# This is just the example of the env file

EMAIL_BACKEND = 'django.core.mail.backends.smtp.EmailBackend'
EMAIL_HOST = 'smtp.gmail.com'
EMAIL_USE_TLS = True
EMAIL_PORT = 587
EMAIL_HOST_USER = #sender's email-id
EMAIL_HOST_PASSWORD = #password associated with above email-id (not the regular password)

SECRET_KEY = 
DEBUG = 
ALLOWED_HOST =

REDIS_HOST_URL = 
